<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/products/create">Them Moi</a>
<form action="/products/search">
    <input type="text" name="search" id="">
    <button>Tim</button>
</form>
<div th:each="item : ${list}">
    <span th:text="${item.id}"></span>
    <span th:text="${item.name}"></span>
    <span th:text="${item.price}"></span>
    <span th:text="${item.category.name}"></span>
    <a th:href="@{/products/edit/__${item.id}__}">Edit</a>
    <a th:href="@{/products/delete/__${item.id}__}">Delete</a>
</div>
</body>
</html>