<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/products/create">Them Moi</a>
<div th:each="item : ${list}">
    <span th:text="${item.id}"></span>
    <span th:text="${item.name}"></span>
    <span th:text="${item.price}"></span>
    <span th:text="${item.getIdCate().getName()}"></span>

    <a th:href="@{/products/edit/__${item.id}__}">Edit</a>
    <a th:href="@{/products/delete/__${item.id}__}">Delete</a>
</div>
<h1 th:text="${mess}"></h1>
</body>
</html>